<style>
  mat-form-field {
    width: 80%;
    margin-top: 5px;
  }

  mat-icon {
    margin-left: 10px;
  }

  .readonly-wrapper {
    cursor: not-allowed;
  }

  .readonly-wrapper .readonly-block {
    pointer-events: none;
  }

  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }

  .column img:hover {
    opacity: 1;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }

  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }

  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
</style>
<div style="width: 100%;display: inline-block">
  <h2 style="padding-left: 15px;margin-right: 10px; display: inline-block">Announcement</h2>
  <button mat-raised-button mat-dialog-close style="margin-right: 10px; display: inline-block" (click)="close()">
    Close
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 10px; display: inline-block" (click)="sellerProfile()">
    Seller profile
  </button>
  <button mat-raised-button mat-dialog-close style="margin-right: 10px; display: inline-block" (click)="chat()">
    Chat
  </button>
  <ngx-material-rating [(ngModel)]="announcement.rating" [max]="5"
                       *ngIf="getProfileInfo() == null || announcement.user == null || announcement.user.userId != getProfileInfo().userId"
                       (change)="rate()"  [matTooltip]="announcement.rating"></ngx-material-rating>
  <div style="float: right" *ngIf="getProfileInfo().role === 'ADMIN'">
    <mat-form-field appearance="fill"
                    style="margin-right: 10px; display: inline-block; width: 200px">
      <mat-label>[Select moderation status]</mat-label>
      <mat-select [(ngModel)]="announcement.moderationStatus.moderationStatusId">
        <mat-option *ngFor="let moderationStatus of mainComponentInstance.moderationStatuses"
                    [value]="moderationStatus.moderationStatusId">{{moderationStatus.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button mat-dialog-close style="display: inline-block" (click)="updateModerationStatus()">
      Update moderation status
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<div style="padding: 0 30%">
  <div
    style="width: 100%;overflow-x: auto; overflow-y: hidden;white-space: nowrap;max-height: 650px;position: relative;display: block">
    <mat-card *ngFor="let contact of announcement.contacts"
              style="position:relative; display: inline-block;margin-right: 10px; margin-bottom: 5px">
      <mat-card-title>{{contact.name}}</mat-card-title>
      <mat-card-subtitle>{{contact.value}}</mat-card-subtitle>
      <mat-card-actions>
        <button mat-button>COPY</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>[Select announcement type]</mat-label>
    <mat-select [(ngModel)]="announcement.announcementType.announcementTypeId">
      <mat-option *ngFor="let announcementType of announcementTypes"
                  [value]="announcementType.announcementTypeId" disabled>{{announcementType.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>[Select measure]</mat-label>
    <mat-select [(ngModel)]="announcement.measure.measureCode">
      <mat-option *ngFor="let measure of measures" [value]="measure.measureCode" disabled>{{measure.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width: 20%">
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="announcement.price" type="number" readonly>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 40%; margin-left: 10px" class="readonly-wrapper">
    <mat-label>Currency sign</mat-label>
    <mat-select [(ngModel)]="announcement.currencySign">
      <mat-option *ngFor="let currency of getCurrencySigns()"
                  [value]="currency" [innerHTML]="currency" disabled></mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!--  <div class="gallery" *ngFor="let image of images">-->
  <!--    <a target="_blank" href="https://drive.google.com/uc?export=view&id={{image}}">-->
  <!--      <img src="https://drive.google.com/uc?export=view&id={{image}}" alt="Cinque Terre" style="max-width: 800px;max-height: 600px">-->
  <!--    </a>-->
  <!--  </div>-->
  <!-- The four columns -->
  <div class="row">
    <div class="column" *ngFor="let image of images" style="height: 200px">
      <img src="https://drive.google.com/uc?export=view&id={{image}}" style="width:100%; max-height: 200px"
           (click)="expandImage($event);">
    </div>
  </div>

  <div class="container">
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
    <img id="expandedImg" style="width:100%">
    <div id="imgtext"></div>
  </div>

  <br>
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Description</mat-label>
    <textarea matInput style="height: 200px" [(ngModel)]="announcement.text" readonly></textarea>
  </mat-form-field>
</div>
<h2 style="padding-left: 15px">Territory for delivery</h2>
<mat-divider style="margin-bottom: 10px"></mat-divider>

<div id="map" style="margin-bottom: 10px"></div>
<mat-divider style="margin-bottom: 10px"></mat-divider>
<div style="padding: 0 30%">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Comment</mat-label>
    <textarea matInput style="height: 200px" [(ngModel)]="commentText"></textarea>
  </mat-form-field>
  <button mat-raised-button mat-dialog-close style="margin-bottom: 10px; display: inline-block"
          (click)="submitComment(null)">
    Submit
  </button>
  <mat-divider style="margin-bottom: 10px"></mat-divider>
  <!-- Comment 1 start -->
  <div class="comment" [id]="'comment-' + comment.commentId" *ngFor="let comment of comments">
    <a [href]="'#comment-' + comment.commentId" class="comment-border-link">
      <span class="sr-only">Jump to comment-1</span>
    </a>
    <div class="comment-heading">
      <div class="comment-voting">
        <button type="button">
          <span aria-hidden="true">&#9650;</span>
          <span class="sr-only">Vote up</span>
        </button>
        <button type="button">
          <span aria-hidden="true">&#9660;</span>
          <span class="sr-only">Vote down</span>
        </button>
      </div>
      <div class="comment-info">
        <a href="#" class="comment-author">{{comment.username}}</a>
        <p class="m-0">
          {{comment.createTime | date: 'dd-MM-yyyy HH:mm'}}
        </p>
      </div>
      <span style="flex: 1 1 auto;"></span>
      <p style="margin-top: 15px; padding-right: 10px" *ngIf="comment.rate != null">Rated:</p>
      <ngx-material-rating [(ngModel)]="comment.rate" [max]="5" [dense]="true" *ngIf="comment.rate != null" [matTooltip]="comment.rate"></ngx-material-rating>
    </div>

    <div class="comment-body">
      <p>
        {{comment.text}}
      </p>
      <button type="button" (click)="comment.showReplyDialog = !comment.showReplyDialog">Reply</button>
      <div *ngIf="comment.showReplyDialog">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Comment</mat-label>
          <textarea matInput style="height: 200px" [(ngModel)]="commentText"></textarea>
        </mat-form-field>
        <button mat-raised-button mat-dialog-close style="margin-bottom: 10px; display: inline-block"
                (click)="submitComment(comment)">
          Submit
        </button>
      </div>
    </div>
    <ng-container
      *ngTemplateOutlet="recursiveReplyTmpl; context:{ childComments: comment.childComments }"
    ></ng-container>

    <ng-template #recursiveReplyTmpl let-childComments="childComments">
      <div class="replies" *ngFor="let childComment of childComments">
        <!-- Comment 2 start -->
        <div class="comment" [id]="'comment-' + childComment.commentId">
          <a [href]="'#comment-' + childComment.commentId" class="comment-border-link">
            <span class="sr-only">Jump to comment-2</span>
          </a>
          <div class="comment-heading">
            <div class="comment-voting">
              <button type="button">
                <span aria-hidden="true">&#9650;</span>
                <span class="sr-only">Vote up</span>
              </button>
              <button type="button">
                <span aria-hidden="true">&#9660;</span>
                <span class="sr-only">Vote down</span>
              </button>
            </div>
            <div class="comment-info">
              <a href="#" class="comment-author">{{childComment.username}}</a>
              <p class="m-0">
                {{childComment.createTime | date: 'dd-MM-yyyy HH:mm'}}
              </p>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <p style="padding-top: 15px; padding-right: 10px" *ngIf="childComment.rate != null">Rated:</p>
            <ngx-material-rating [(ngModel)]="childComment.rate" [max]="5" [dense]="true" *ngIf="childComment.rate != null" [matTooltip]="childComment.rate"></ngx-material-rating>
          </div>

          <div class="comment-body">
            <p>
              {{childComment.text}}
            </p>
            <button type="button" (click)="childComment.showReplyDialog = !childComment.showReplyDialog">Reply</button>
            <div *ngIf="childComment.showReplyDialog">
              <mat-form-field appearance="fill" style="width: 100%">
                <mat-label>Comment</mat-label>
                <textarea matInput style="height: 200px" [(ngModel)]="commentText"></textarea>
              </mat-form-field>
              <button mat-raised-button mat-dialog-close style="margin-bottom: 10px; display: inline-block"
                      (click)="submitComment(childComment)">
                Submit
              </button>
            </div>
          </div>
        </div>
        <ng-container
          *ngTemplateOutlet="recursiveReplyTmpl; context:{ childComments: childComment.childComments }"
        ></ng-container>
        <!-- Comment 2 end -->
      </div>
    </ng-template>
  </div>
  <mat-paginator [length]="this.commentsListFilter.total" aria-label="Select page" #paginator
                 (page)="pageChanged()"></mat-paginator>
  <!-- Comment 1 end -->
</div>
