<div *ngIf="contacts.length == 0" style="margin-left: 50%;margin-top: 50px">
  <h2 style="opacity: 0.5">{{locale().label.noResult}}</h2>
</div>
<div style="height: 100%;overflow-y: auto" *ngIf="contacts.length != 0">
  <table>
    <thead>
    <tr>
      <th style="width: 30px"></th>
      <th style="width: 20%">{{locale().label.name}}</th>
      <th style="width: 20%">{{locale().label.contactType}}</th>
      <th style="width: 60%">{{locale().label.value}}</th>
    </tr>
    </thead>
    <tbody *ngFor="let contact of contacts">
    <tr class="row">
      <td><mat-checkbox (change)="selectContact(contact, $event)" [checked]="contact.checked"></mat-checkbox></td>
      <td (click)="openContactDetails(contact)" ><strong>{{contact.name}}</strong></td>
      <td (click)="openContactDetails(contact)" >{{contact.contactType.name}}</td>
      <td (click)="openContactDetails(contact)" >{{contact.value}}</td>
    </tr>
    </tbody>
  </table>
</div>
<mat-toolbar class="mat-paginator-sticky">
  <button mat-raised-button style="margin-right: 20px" (click)="openContactDetails(null)">
    {{locale().label.addContact}}
  </button>
  <button mat-raised-button (click)="deleteSelectedContacts()">
    {{locale().label.deleteSelectedContacts}}
  </button>
</mat-toolbar>
