 <style>
  br {
    margin-bottom: 10px;
  }

  mat-form-field {
    width: 100%;
  }
</style>
<h2>{{locale().label.productDetails}}</h2>
<mat-divider style="margin-bottom: 10px"></mat-divider>
 <div style="overflow-y: auto;overflow-x: hidden; max-height: 600px;padding: 10px">
<mat-form-field appearance="fill" [formGroup]="productForm">
  <mat-label>{{locale().label.productName}}</mat-label>
  <input matInput [(ngModel)]="product.name" formControlName="name" required>
</mat-form-field>
<br>
<mat-form-field appearance="fill" [formGroup]="productForm">
  <mat-label>{{locale().label.selectProductCategory}}</mat-label>
  <mat-select [(ngModel)]="product.productCategory.productCategoryId" formControlName="productCategoryId" required>
    <mat-option *ngFor="let productCategory of productCategories"
                [value]="productCategory.productCategoryId">{{productCategory.name}}</mat-option>
  </mat-select>
</mat-form-field>
<br>
<input #fileInput hidden type="file" (change)="filesUploaded($event)" accept="image/jpeg,image/jpg,image/png"/>
<button mat-raised-button style="margin-bottom: 10px" (click)="fileInput.click()">{{locale().label.uploadImages}}</button>
<br>
<div style="overflow-y: auto; max-height: 280px;padding: 15px">
  <div *ngFor="let attachment of productAttachments; let index = index" [attr.data-index]="index"
       style="width: 100%;padding-top: 10px; display: block">
    <img mat-card-image
         src="{{attachment.fileSrc == null ? 'https://drive.google.com/uc?export=view&id=' +  attachment.fileId : attachment.fileSrc}}"
         style="max-height: 300px; max-width: 300px; margin-right: 20px">
    <div style="width: 300px">
      <mat-checkbox style="margin-right: 20px" [(ngModel)]="attachment.main" [checked]="attachment.main"
                    (change)="mainImageChanged(index)">{{locale().label.mainImage}}
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="attachment.delete" [checked]="attachment.delete">{{locale().label.delete}}</mat-checkbox>
    </div>
    <br>
  </div>
</div>
<br>
<mat-form-field appearance="fill" style="width: 650px">
  <mat-label>{{locale().label.description}}</mat-label>
  <textarea matInput style="height: 200px" [(ngModel)]="product.description"></textarea>
</mat-form-field>
<mat-divider></mat-divider>
<div style="place-content: end; margin-top: 10px; float: right">
  <button mat-raised-button style="margin-right: 10px" (click)="saveProduct()">
    {{locale().label.save}}
  </button>
  <button #productCloseButton mat-raised-button mat-dialog-close>
    {{locale().label.close}}
  </button>
</div>
 </div>
