<mat-grid-list cols="3" rowHeight="0.89:1">
  <mat-grid-tile *ngFor="let announcement of announcements">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"
             [style]="'background-image: url(' + (announcement.ownerPhoto == null ? 'assets/nophoto.png' : 'https://drive.google.com/uc?export=view&id=' + announcement.ownerPhoto) + ');'"></div>
        <mat-card-title>{{announcement.userName}}</mat-card-title>
        <mat-card-subtitle>Тип</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://drive.google.com/uc?export=view&id={{announcement.image}}"
           style="max-height: 350px; max-width: 465px">
      <mat-card-content>
        <h2>{{announcement.productName}}</h2>
        <p>
          {{locale().label.description}}: {{announcement.text}}
        </p>
        <p>
          {{locale().label.price}}: {{announcement.price}} <span [innerHTML]="announcement.currencySign"></span><br>
          {{locale().label.volume}}: {{announcement.measure}}<br>
          {{locale().label.moderationStatus}}: {{announcement.moderationStatusName}}<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openAnnouncementDetails(announcement.announcementId)">{{locale().label.edit}}</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-toolbar class="mat-paginator-sticky">
  <mat-toolbar-row>
    <button mat-raised-button style="width: 220px;margin-right: 10px" (click)="openAnnouncementDetails(null)">
      {{locale().label.addAnnouncement}}
    </button>
    <button mat-raised-button style="width: 290px">
      {{locale().label.deleteSelectedAnnouncements}}
    </button>
    <mat-paginator [length]="this.announcementSearchForm.total" aria-label="Select page" #paginator (page)="pageChanged()"
                   style="position: sticky; bottom: 0; width: 100%; background-color: #f0f0f0"></mat-paginator>
  </mat-toolbar-row>
</mat-toolbar>
