<div style="height: 100%">
  <table>
    <thead>
    <tr>
      <th style="width: 20%">Name</th>
      <th style="width: 20%">Action</th>
      <th style="width: 20%">User Type</th>
      <th style="width: 40%">Description</th>
    </tr>
    </thead>
    <tbody *ngFor="let userCard of userCards">
    <tr (click)="openUserCardDetails(userCard.userCardId)" class="row">
      <td><strong>{{userCard.name}}</strong></td>
      <td>{{userCard.actionType}}</td>
      <td>{{userCard.userType}}</td>
      <td>{{userCard.description}}</td>
    </tr>
    </tbody>
  </table>
</div>
<mat-toolbar class="mat-paginator-sticky">
  <button mat-raised-button style="margin-right: 20px" (click)="openUserCardDetails(null)">
    Add card
  </button>
  <button mat-raised-button>
    Delete selected cards
  </button>
</mat-toolbar>
